.cropper-face-avatar {
  border-radius: 50% !important;
}
.cropper-view-box-avatar{
  border-radius: 50% !important;
  outline: none !important;
}

.cropper-dashed{
  display: none !important;
}

.cropper-line {
  background-color: green !important;
}
.cropper-point.point-se::before {
  background-color: green !important;
}
.cropper-point {
  background-color: green !important;
}

.cropper-center {
  background-color: green !important;
  opacity: 1 !important;
  &::before, &::after{
    background-color: green !important;
  }
}