.ql-toolbar{
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;

  display: flex !important;
  width: 100% !important;
  gap: 6px !important;

  @media (max-width: 500px) {
    justify-content: center !important;
    flex-wrap: wrap !important;

  }

  .ql-formats{
    margin-right: 0 !important;
    display: flex !important;
    justify-content: center !important;
    flex-wrap: nowrap !important;

    @media (max-width: 500px) {

    }
  }
}
.ql-editor{
  pre{
    overflow-x: auto !important;
    white-space: pre-wrap !important;
    word-wrap: anywhere !important;
    background-color: rgba(211, 211, 211, 0.25) !important;
    color: currentColor !important;
  }
  h1, h2, span, p, u, strong, blockquote, em, pre, code, ul, ol, li{
    word-wrap: anywhere !important;
    white-space: pre-wrap !important;
  }
  p:empty + br + p:empty {
    display: none !important;
  }

  blockquote:empty + blockquote:empty {
    display: none !important;
  }

  pre:empty + pre:empty {
    display: none !important;
  }
}


.ql-container{
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// Настройка тегов внутри ппоста

.editor-content{

  h1, h2, span, p, u, strong, blockquote, em, pre, code, ul, ol, li{
    word-wrap: anywhere !important;
    white-space: pre-wrap !important;
    font-size: 14px;
  }

  h1{
    font-size: 1.5rem;
  }
  h2{
    font-size: 1.2rem;
  }

  p{
    margin-bottom: 2px;
  }
  blockquote{
    margin-bottom: 3px;
  }

  em {
    opacity: .8;
  }

  h1, h2, ol, ul{
    margin: 0 !important;
  }

  blockquote {
    font-style: italic !important;
    opacity: .8;
    border-left: 4px solid #4CAF50;
    padding-left: 10px;
  }

  pre {
    background-color: rgba(211, 211, 211, 0.25) !important;
    padding: 10px;
    border-radius: 5px;
    font-size: 13px;
    font-family: 'Courier New', monospace !important;
    margin-bottom: 3px;

    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: anywhere;
  }

  /* Списки */
  ul {
    list-style-type: disc;
    padding-left: 35px;
  }

  ol {
    list-style-type: decimal;
    padding-left: 35px;
  }

  li {
    margin: 3px 0;
  }
}