
@mixin flexbox($display: flex, $justify-content: center, $align-items: center, $flex-direction: row) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
}

$padding-small: 10px;
$padding-medium: 25px;
$padding-large: 50px;

$gap-small: 10px;
$gap-medium: 25px;
$gap-large: 50px;

$radius: 10px;

.active-link {
  color: green;
  text-decoration: underline;
}

.exact-active-link {
  color: green;
  text-decoration: underline;
}
a{
  text-decoration: none;
  color: green;
}
a:hover{
  text-decoration: underline;
}

.nav-link{
  text-decoration: none;
  color: green;
  cursor:pointer;
}

.nav-link:hover{
  color: greenyellow;
}

:root {
  scroll-behavior: unset;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}


.header{
  z-index: 10000;
}

.wrapper-page-main-content {
  max-width: 500px;
  width: 100%;
  padding: 50px;
  height: fit-content;
  border-radius: 15px;
  box-shadow: 0 1px 10px currentColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 500px) {
    width: 100%;
    padding: 25px 25px;
  }
}

.wrapper-settings-tab{
  width: 100%;
  height: 100%;
}

.emoji-font{
  font-family: "Noto Color Emoji", sans-serif;
}

.address-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.collapse-animation{
  animation: expand-anim ease .2s;

}
.expand-animation{
  animation: collapse-anim ease .2s;
}
@keyframes expand-anim {
  from {
    height: 0;

    transform: translateY(-20px);
  }
  to {
    height: 100%;

    transform: translateY(0);
  }
}
@keyframes collapse-anim {
  from {
    height: 100%;

    transform: translateY(0);
  }
  to {
    height: 0;

    transform: translateY(-20px);
  }
}

.user-location{
  display: flex;
  align-items: center;
  gap: 5px;
  .flag {
    filter: drop-shadow(0 0 1px currentColor);
    border-radius: 10%;
  }
  .flag-txt{
    font-size: 14px;
    font-weight: 500;

    @media (max-width: 800px){
      font-size: 12px;
    }
  }
}

.btn__control-upper{
  z-index: 5;
}
.btn__control-lower{
  z-index: 1;
}


.styled-scroll::-webkit-scrollbar {
  width: 8px; /* Ширина скроллбара */
  margin-right: 5px;
}

.styled-scroll::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 15px;
}

.styled-scroll::-webkit-scrollbar-track {
  margin: 10px;
  background: #777777;
  border-radius: 15px;
}


.load-more-btn__link {
  text-decoration: none !important;
  padding: 1px 5px;
  transition: .3s;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  color: #4CAF50;

  &:hover {
    background-color: rgba(211, 211, 211, 0.25);
  }
}







.viewer-prev,.viewer-play,.viewer-large,.viewer-next{
  display: none !important;
}





///////////////////////////////////////////////////////////////////////////////////////////////////////
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

/* Для Firefox */
input[type="date"] {
  -moz-appearance: textfield;
}

/* Для IE и Edge */
input[type="date"]::-ms-clear {
  display: none;
}
input[type="date"]::-ms-expand {
  display: none;
}

.inp-default-label{
  opacity: 1;
}

//.leaflet-control-attribution {
//  display: none !important;
//}

.leaflet-attribution-flag{
  display: none !important;
}

.marker-popup-txt-def{
  color: green;
}

////

@keyframes loading {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}

////

