
@mixin flexbox($display: flex, $justify-content: center, $align-items: center, $flex-direction: row) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
}

$padding-small: 10px;
$padding-medium: 25px;
$padding-large: 50px;

$gap-small: 10px;
$gap-medium: 25px;
$gap-large: 50px;

$radius: 10px;

.fz-14{
  font-size: 14px !important;
}
.fz-12{
  font-size: 12px !important;
}

.v-textarea .v-field__input{
  mask-image: unset !important;
  -webkit-mask-image: unset !important;
  padding: 5px 10px !important;
  font-size: 14px !important;
}

.active-link {
  color: green;
  text-decoration: underline;
}

.exact-active-link {
  color: green;
  text-decoration: underline;
}
a{
  text-decoration: none;
  color: green;
}
a:hover{
  text-decoration: underline;
}

.nav-link{
  text-decoration: none;
  color: green;
  cursor:pointer;
}

.nav-link:hover{
  color: greenyellow;
}

:root {
  scroll-behavior: unset;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}


.header{
  z-index: 10000;
}

.wrapper-page-main-content {
  max-width: 500px;
  width: 100%;
  padding: 50px;
  height: fit-content;
  border-radius: 15px;
  box-shadow: 0 1px 10px currentColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 500px) {
    width: 100%;
    padding: 25px 25px;
  }
}

.wrapper-settings-tab{
  width: 100%;
  height: 100%;
}

.emoji-font{
  font-family: "Noto Color Emoji", sans-serif;
}

.address-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.collapse-animation{
  animation: expand-anim ease .2s;

}
.expand-animation{
  animation: collapse-anim ease .2s;
}
@keyframes expand-anim {
  from {
    height: 0;

    transform: translateY(-20px);
  }
  to {
    height: 100%;

    transform: translateY(0);
  }
}
@keyframes collapse-anim {
  from {
    height: 100%;

    transform: translateY(0);
  }
  to {
    height: 0;

    transform: translateY(-20px);
  }
}

.user-location{
  display: flex;
  align-items: center;
  gap: 5px;

  .flag-txt{
    font-size: 14px;
    font-weight: 500;

    @media (max-width: 800px){
      font-size: 12px;
    }
  }
}

.flag {
  filter: drop-shadow(0 0 1px currentColor);
  border-radius: 10%;
}

.btn__control-upper{
  z-index: 5;
}
.btn__control-lower{
  z-index: 1;
}


.styled-scroll::-webkit-scrollbar {
  width: 8px; /* Ширина скроллбара */
  margin-right: 5px;
}

.styled-scroll::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 15px;
}

.styled-scroll::-webkit-scrollbar-track {
  margin: 10px;
  background: #777777;
  border-radius: 15px;
}

//

.styled-scroll__np::-webkit-scrollbar {
  width: 8px;
  margin-right: 5px;
  border-radius: 5px;
}
.styled-scroll__np::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 5px;
}
.styled-scroll__np::-webkit-scrollbar-track {
  background: #777777;
  margin: 3px;
  border-radius: 5px;
}

//

.styled-scroll__cm::-webkit-scrollbar {
  width: 6px; // Делаем его еще тоньше
}

.styled-scroll__cm::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.4);
  border-radius: 10px;
  transition: background 0.3s ease;
}

.styled-scroll__cm::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
  margin: 10px 0;
}

.load-more-btn__link {
  text-decoration: none !important;
  padding: 1px 5px;
  transition: .3s;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  color: #4CAF50;

  &:hover {
    background-color: rgba(211, 211, 211, 0.25);
  }
}


/// настройки емоджи пикера
.v3-emoji-picker{
  width: 100% !important;
  min-width: 100px !important;
  --v3-picker-bg: rgb(var(--v-theme-background)) !important;
  --v3-picker-fg: currentColor !important;
  filter: drop-shadow(0 0 10px currentColor) !important;

  .v3-footer{
    display: none !important;
  }
}
.v-theme--dark {
  .v3-emoji-picker{
    --v3-group-image-filter: invert(1) !important;
  }
}
///


/// настройки viewer для глобал фото пикера
.viewer-prev,.viewer-play,.viewer-large,.viewer-next{
  display: none !important;
}
///


// универсальная кнопка закрытия
.close-u-m__btn {
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: .7;
  transition: 0.3s;
  display: flex;
  align-items: center;
  z-index: 5;

  @media (max-width: 650px) {
    position: relative;
    width: 100%;
    display: block;
    padding: 5px;
    top: unset;
    right: unset;
    .desktop_icon{
      display: none;
    }
    .mobile_icon{
      display: flex !important;
    }
  }
  .mobile_icon{
    display: none;
    align-items: center;
    justify-content: space-between;
  }
  &:hover {
    opacity: 1;
  }
}
//

// натсройки видеоплеера

//.vjs_video_3-dimensions{
//  width: 100% !important;
//  height: inherit !important;
//  max-width: inherit !important;
//  max-height: inherit !important;
//}
.video-js{
  //width: 100% !important;
  //height: inherit !important;
  background-color: rgb(var(--v-theme-background)) !important;
}

// стиль скрола для тект ариа

textarea::-webkit-scrollbar {
  width: 8px !important;
  margin-right: 5px !important;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #c4c4c4 !important;
  border-radius: 15px !important;
}

textarea::-webkit-scrollbar-track {
  background: #777777 !important;
  border-radius: 15px !important;
}


//

.blinking__pending{
  animation: blinking .8s infinite;
  pointer-events: none;
}

@keyframes blinking {
  0% {
    filter: drop-shadow(0 0 2px currentColor);
  }
  50% {
    filter: drop-shadow(0 0 8px currentColor);
  }
  100% {
    filter: drop-shadow(0 0 2px currentColor);
  }
}


.__not_found-icon{
  filter: drop-shadow(0 0 2px currentColor);
}
///////////////////////////////////////////////////////////////////////////////////////////////////////
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

/* Для Firefox */
input[type="date"] {
  -moz-appearance: textfield;
}

/* Для IE и Edge */
input[type="date"]::-ms-clear {
  display: none;
}
input[type="date"]::-ms-expand {
  display: none;
}

.inp-default-label{
  opacity: 1;
}


/// неастройка карт
.leaflet-attribution-flag{
  display: none !important;
}

.marker-popup-txt-def{
  color: green;
}
///

.minimalistic_scroll::-webkit-scrollbar {
  width: 6px;
}

.minimalistic_scroll::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.4);
  border-radius: 10px;
  transition: background 0.3s ease;
}

.minimalistic_scroll::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
  margin: 10px 0;
}